@font-face {
  font-family: "Poppins";
  src: url("/font/poppins.ttf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: "Poppins", sans-serif;
}
